<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title><%= title %></title>
  </head>
  <body class="bg-light">
    <%- include('partials/nav') %>

    <div class="container mt-5">
      <h2 class="text-danger"><%= title %></h2>
      <div class="alert alert-danger mt-4">
        <p class="lead"><%= message %></p>
        <% if (error && Object.keys(error).length !== 0) { %>
        <pre class="mt-3 p-3 bg-dark text-white">
<%= JSON.stringify(error, null, 2) %></pre
        >
        <% } %>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
